@use 'style.css';
@use './inc/block-patterns.scss';
@use './parts/header.scss';
@use './js-src/cursor.scss';

.wp-site-blocks > header + * {
  margin-block-start: 0;
}

h1, h2 {
  line-height: 1;
}

h1, h2, h3, p {
  font-feature-settings: 'ss01' 1, 'ss02' 0, 'ss03' 1, 'dlig' 1, 'liga' 1, 'calt' 1;
}