/* Error: Undefined mixin.
 *     ,
 * 236 | / @include bps(bigTablet) {
 * 237 | |   .desktop-bottom-offset {
 * 238 | |     margin-bottom: -1.8em;
 * 239 | |   }
 * 240 | \ }
 *     '
 *   styles/root.scss 236:1  @use
 *   index.scss 7:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 236 \2502  \250c  @include bps(bigTablet) {\a 237 \2502  \2502    .desktop-bottom-offset {\a 238 \2502  \2502      margin-bottom: -1.8em;\a 239 \2502  \2502    }\a 240 \2502  \2514  }\a     \2575 \a   styles/root.scss 236:1  @use\a   index.scss 7:1          root stylesheet";
}
