@use '../../styles/breakpoints.scss' as bp;

//Specific styles for the hero on the cheese page

.formo-hero.formo-hero-team {
  
  & .formo-hero-text {

    & h1, & h2 {
      
      font-size: 8.3vw!important;
      line-height: .85;
      text-shadow: 0 0 30px rgba(0,0,0,0.6);

      & .special:nth-child(1) {
        font-size: 1em;
      }
      & .special:nth-child(1) + br + .special {
        font-size: 1.3em;
      }
      & .special:nth-child(1) + br + .special + br + .special {
        font-size: 1.666em;
      }
      & .special:nth-child(1) + br + .special + br + .special + br + .special {
        font-size: 1.9em;
        color: var(--wp--preset--color--formo-blue);
      }
    }

    & p {
      text-shadow: 0 0 .5em rgba(0,0,0,0.8);
    }
  }

  @include bp.bp-down(bigTablet) {
    & .formo-hero-text h1,
    & .formo-hero-text h2 {
      font-size: 12.25vw!important;
    }
  }
}