@use '../../styles/breakpoints.scss' as bps;

//Specific styles for the hero on the cheese page

.bio {
  margin-top: 1em!important;
  margin-bottom: 1em!important;

  @include bps.bp-down(bigTablet) {
   & .is-layout-flex > *:not(:first-child) {
    margin-top: 1.5em;
   } 
   
    &.bio-with-thumbnail figure {
      margin: 0 auto!important;
    }
  }
}
