@use '../../styles/breakpoints.scss' as bp;

// Styles for all hero blocks

@include bp.bp-down(bigTablet) {
  .wp-block-group.alignfull.formo-hero,
  .formo-hero {
    position: relative;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    padding-left: 0;
    padding-right: 0;
    // margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    // margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
  }
  .formo-hero-text {
    position: absolute!important;
    top: 0;
    left: var(--wp--custom--spacing--outer);
    right: var(--wp--custom--spacing--outer);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    padding-top: calc(var(--vh, 1vh) * 12.5);
    // don't compensate for navbar in editor
    body > .is-root-container & {
      top: 0;
    }
  }
  
  .formo-hero-text h1,
  .formo-hero-text h2 {
    font-size: var(--wp--preset--font-size--huge);
    margin-top: 0;
    margin-bottom: .125em;
    letter-spacing: -.033em;
  }
  
  .formo-hero-video,
  .formo-hero-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  
    & video,
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  //for editor
  .is-root-container .formo-hero-video,
  .is-root-container .formo-hero-image {
    position: absolute!important;

    & .components-resizable-box__container,
    & .components-disabled {
      width: 100%!important;
      height: 100vh!important;
    }
  }
}


@include bp.bp(bigTablet) {

  .wp-block-group.alignfull.formo-hero,
  .formo-hero {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
    // margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    // margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
  }
  
  .formo-hero-text {
    position: absolute!important;
    top: var(--wp--custom--height--navbar);
    left: var(--wp--custom--spacing--outer);
    right: var(--wp--custom--spacing--outer);
    bottom: 0;
    display: flex;
    margin: 0!important;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    // don't compensate for navbar in editor
    body > .is-root-container & {
      top: 0;
    }
    // vertical parts must be gridline rows
    & > .wp-block-group,
    & > .wp-block-columns {
      flex-basis: 33%;
      flex-grow: 1;
      align-items: stretch;
      
      &:first-child {
        flex-basis: 66%;
      }
    }
  }
  
  .formo-hero-text h1,
  .formo-hero-text h2 {
    font-size: var(--wp--preset--font-size--huge);
    margin-top: 0;
    letter-spacing: -.033em;
    padding-bottom: .1em;

    &[class*="span"] {
      flex-basis: auto!important;
    }
  }
  
  .content-bottom .formo-hero-text h1,
  .content-bottom .formo-hero-text h2 {
    margin-bottom: .125em!important;
  }
  
  .formo-hero-video,
  .formo-hero-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  
    & video,
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  //for editor
  .is-root-container .formo-hero-video,
  .is-root-container .formo-hero-image {
    position: absolute!important;

    & .components-resizable-box__container,
    & .components-disabled {
      width: 100%!important;
      height: 100vh!important;
    }
  }
}
