@use 'breakpoints.scss' as bps;
// Editor: make alignfull actually full width
body > .block-editor-block-list__layout.is-root-container > .alignfull {
  margin-left: calc( -1 * var(--wp--custom--spacing--outer) ) !important;
  margin-right: calc( -1 * var(--wp--custom--spacing--outer) ) !important;
}
// body > .block-editor-block-list__layout [class*="wp-container-"] > h1 {
//   margin-block-end: .25em;
// }
body > .block-editor-block-list__layout blockquote p {
  font-size: inherit;
}
body > .block-editor-block-list__layout .formo2022-teammember-sorting-questions p a {
  display: block;
}

body > .block-editor-block-list__layout {

  & .formo-footer {
    position: relative;
  }

  & .wp-block-buttons .wp-block-button__link {
    white-space: nowrap!important;
  }

  & .teammember-single-content {
    & figure {
      max-width: 400px;
      float: left;
      margin-right: 2em;
    }
    & .wp-block-post-title {
      font-family: var(--wp--preset--font-family--roobert);
      font-size: var(--wp--preset--font-size--body);
      margin: .5em 0;
      position: relative;
      left: 0;

      &:after {
        content: 'Team member\'s Name';
        text-transform: none;
        position: relative;
        bottom: 100%;
        display: block;
        left: 0;
        font-size: 12px;
        color: blue;
        padding: 0.5em;
      }
    }

  }

  & .wp-block-post-featured-image .block-editor-media-placeholder:after {
    content: "Featured Image";
    position: absolute;
    background-color: blue;
    color: #FFF;
    padding: 0.25em;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    font-size: .75em;
  }

  .the-time-is-ripe {
    position: relative;
    width: 100%;
    max-width: 4.5em;
    height: 1.6em;
    font-size: var(--wp--preset--font-size--huge);
    margin: 0 auto;
    top: .2em;

    @include bps.bp-down(bigTablet) {
      font-size: 20vw;
    }
      
    & .special {
      position: absolute;

      &:nth-child(1) {
        margin-block-start: 0!important;
      }
      &:nth-child(2) {
        top: .8em;
        left: .5em;
        z-index: 2;
      }
      &:nth-child(3) {
        right: 1.075em;
      }
      &:nth-child(4) {
        top: .8em;
        right: 0;
      }
    }
  }
  .ciao-cow {
    position: relative;
    text-align: right;
    width: 100%;
    max-width: calc(4.5 * var(--wp--preset--font-size--huge) );
    top: calc(0.2 * var(--wp--preset--font-size--huge) );
    margin: 0 auto;
      
    @include bps.bp-down(bigTablet) {
      max-width: calc( 4.5 * 20vw );
      font-size: 12vw;
    }
  }
}
