@use 'mixins.scss' as mixins;

.content-wrapper .formo-nofunction-tagslist {
  display: flex;
  list-style: none;
  padding: .5em 0;
  gap: .125em;

  & li {
    margin: 0;
    font-size: var(--wp--preset--font-size--tiny);
    @include mixins.button;
    @include mixins.button-outline;
  }
  & + p {
    margin-block-start: 0;
    margin-block-end: 1em;
  }
}