@use 'breakpoints.scss' as bps;

.formo-image-gallery {
  --unit: 2.7vw;

  @include bps.bp-down(bigTablet) {
    --unit: 3.55vw;
  }

  position: relative;
  height: calc(var(--unit) * 17);

  & figure {
    position: absolute;
    width: calc( 3 * var(--unit) );
    height: calc( 3 * var(--unit) );
    border-radius: 50px;
    overflow: hidden;
    background-color: #FFF;

    & img, & video, & svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & figure:nth-child(1) {
    top: calc( 9 * var(--unit) );
    left: calc( 0 * var(--unit) );
  }
  & figure:nth-child(2) {
    top: calc( 1 * var(--unit) );
    left: calc( 2.5 * var(--unit) );
    width: calc( 7.5 * var(--unit) );
    height: calc( 7.5 * var(--unit) );
  }
  & figure:nth-child(3) {
    top: calc( 9 * var(--unit) );
    left: calc( 3.5 * var(--unit) );
    width: calc( 6.5 * var(--unit) );
    height: calc( 6.5 * var(--unit) );
  }
  & figure:nth-child(4) {
    top: calc( 4 * var(--unit) );
    left: calc( 10.5 * var(--unit) );
    width: calc( 6 * var(--unit) );
    height: calc( 6 * var(--unit) );
  }
  & figure:nth-child(5) {
    top: calc( 0 * var(--unit) );
    left: calc( 13 * var(--unit) );
    width: calc( 3.5 * var(--unit) );
    height: calc( 3.5 * var(--unit) );
  }
  & figure:nth-child(6) {
    top: calc( 10.5 * var(--unit) );
    left: calc( 13 * var(--unit) );
    width: calc( 3.5 * var(--unit) );
    height: calc( 3.5 * var(--unit) );
  }
  & figure:nth-child(7) {
    top: calc( 1 * var(--unit) );
    left: calc( 17 * var(--unit) );
    width: calc( 9 * var(--unit) );
    height: calc( 9 * var(--unit) );
  }
  & figure:nth-child(8) {
    top: calc( 10.5 * var(--unit) );
    left: calc( 17 * var(--unit) );
    width: calc( 6 * var(--unit) );
    height: calc( 6 * var(--unit) );
  }
}