@use 'mixins.scss' as mixins;

.formo-nofunction-tagslist {
  display: flex;
  list-style: none;
  padding: .5em 0;
  gap: .125em;

  & li {
    margin: 0;
    font-size: var(--wp--preset--font-size--tiny);
    @include mixins.buttonWithPresets;
    @include mixins.button-outline;

    &:first-child,
    & > .block-editor-rich-text__editable, 
    & > .block-editor-rich-text__editable span {
      margin-block-start: 0!important;
      margin-block-end: 0!important;
    }
  }
  & + p {
    margin-block-start: 0;
    margin-block-end: 1em;
  }
}