h1, h2, h3, h4, h5 {
  font-family: Krana, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: .25em;

  & .wide {
    font-weight: 800;
  }

  & .outlined {
    color: transparent;
    -webkit-text-stroke: 2px var(--wp--preset--color--formo-cream);
    letter-spacing: -0.02em;
  }

  .smaller {
    font-size: 0.63em;
  }
}

.has-formo-cream-background-color .outlined {
  -webkit-text-stroke-color: var(--wp--preset--color--formo-blue);
}