@use './breakpoints.scss' as bps;

h1, h2, h3, h4, h5 {
  font-family: Krana, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: .25em;

  & .wide {
    font-weight: 800;
  }

  & .outlined {
    color: transparent;
    -webkit-text-stroke: 2px var(--wp--preset--color--formo-cream);
    letter-spacing: -0.02em;
  }
  & .smaller {
    font-size: 0.63em;
  }
  & .smaller-top {
    font-size: 0.63em;
    vertical-align: top;
  }
}

.has-formo-cream-background-color .outlined {
  -webkit-text-stroke-color: var(--wp--preset--color--formo-blue);
}
@include bps.bp-down(bigTablet) {
  [class*="text-overflow-"].overflow-left {
    text-align: left;
  }
}
@include bps.bp(bigTablet) {
  .text-overflow-150 {
    overflow-x: visible;
    word-break: keep-all;
    width: 150%;
    max-width: 150%!important;
    z-index: 2!important;
    position: relative;

    &.overflow-left {
      transform: translateX(-36.666%);
    }
  }
  .text-overflow-200 {
    overflow-x: visible;
    word-break: keep-all;
    width: 200%;
    max-width: 200%!important;
    z-index: 2!important;
    position: relative;

    &.overflow-left {
      transform: translateX(-50%);
    }
  }
  .text-overflow-250 {
    overflow-x: visible;
    word-break: keep-all;
    width: 250%;
    max-width: 250%!important;
    z-index: 2!important;
    position: relative;
    
    &.overflow-left {
      transform: translateX(-50%);
    }
  }
  .text-overflow-300 {
    overflow-x: visible;
    word-break: keep-all;
    width: 300%;
    max-width: 300%!important;
    z-index: 2!important;
    position: relative;
  }
}