@use 'breakpoints.scss' as bps;
@use 'mixins.scss' as mixins;

.formo-contact-form {
  border-radius: 15px;
  margin-bottom: 1em;
  
  &.wp-block-group.has-background {
    padding: 1.5em;
    @include bps.bp-down(bigTablet) {
      padding: 1em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
  
  & .meow-contact-form--default .meow-contact-form__group .meow-contact-form__group-input, 
  & .meow-contact-form--default .meow-contact-form__group .meow-contact-form__group-textarea {
    padding: 0.25em 15px;
    font-size: var(--wp--preset--font-size--body);
    color: var(--wp--preset--color--formo-darktone);
    background-color: transparent;
  }
  & .meow-contact-form--default .meow-contact-form__group .meow-contact-form__group-textarea {
    font-size: var(--wp--preset--font-size--small);
    padding: 15px;
  }
  & .meow-contact-form__group-label {
    padding: 0 15px;
    color: var(--wp--preset--color--formo-darktone);
  }
  & .meow-contact-form__group-button {
    @include mixins.button;
    padding: 0.5em 1em!important;
    font-size: var(--wp--preset--font-size--small);
    font-weight: 300;
    cursor: none;
    &:hover {
      padding: .5em 1.5em!important;
    }
  }
}

.wp-block-webfactory-map {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: .5em;
}

@include bps.bp-down(bigTablet) {
  body .is-layout-flex.contact-content {
    gap: 1em;

    & .pill {
      flex-wrap: wrap;
      justify-content: center;
      gap: .25em;
    }
  }
}