.wp-block-post-author__content {
  display: flex;
  justify-content: flex-end;
  gap: .2em;

  & > * {
    font-size: var(--wp--preset--font-size--small);
  }

  & p, 
  & .wp-block-post-author__byline {
    font-size: var(--wp--preset--font-size--small);
    display: inline;
    width: auto;
    white-space: nowrap;
    margin-top: 0;
  }
}
.wp-block-post-date {
  font-size: var(--wp--preset--font-size--small);
}