@use 'mixins.scss' as mixins;


.post-single-postnav {
  padding: 1.5em 0;
  max-width: 66%;
}
.wp-block-post-title {
  padding-bottom: .33em;
}
.wp-block-post-navigation-link a {
  @include mixins.button;
  & {
    font-size: var(--wp--preset--font-size--small);
    color: var(--wp--preset--color--formo-cream);
  }
}

.post-single-back-button.wp-block-button__link {
  position: absolute;
  top: calc( var(--vh, 1vh) * 75 - 20px);
  z-index: 10;
  background-color: var(--wp--preset--color--formo-yellow);
  color: var(--wp--preset--color--formo-darktone);
  padding: 3px 40px 7px 15px;
  transform: translateX(0);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  
  &:hover {
    padding: 3px 50px 7px 15px;
    transform: translateX(-5px);
  }
}

.alignfull.wp-block-post-featured-image + .wp-block-group.alignfull {
  margin-block-start: 0;
}

main.content-wrapper > .entry-content > figure.wp-block-post-featured-image:first-child ,
.is-root-container > figure.wp-block-post-featured-image:first-child {
  margin-left: calc(-1 * var(--wp--custom--spacing--outer));
  margin-right: calc(-1 * var(--wp--custom--spacing--outer));
  height: calc(var(--vh, 1vh) * 75);
  position: relative;
  
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// the featured image if it is the first element inside the first block
main.content-wrapper > .entry-content > .alignfull:first-child > figure.wp-block-post-featured-image,
.is-root-container > .alignfull:first-child > figure.wp-block-post-featured-image {
  margin-top: calc( -1 * var(--wp--custom--height--navbar) );
  height: calc(var(--vh, 1vh) * 75);
  margin-left: calc(-1 * var(--wp--custom--spacing--outer));
  margin-right: calc(-1 * var(--wp--custom--spacing--outer));
  margin-bottom: 2em;
  position: relative;
  
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.more-posts-query .wp-block-post{
  @include mixins.post-card;
  @include mixins.post-card-small;
}
// .more-posts-query:not(.block-editor-block-list__block) .wp-block-post{
//   &:nth-child(3) {
//     @include mixins.post-card-small-ball;
//   }
// }

body .is-layout-constrained > .latest-posts-header + div {
  margin-block-start: 1rem;
}