@use './breakpoints.scss' as bps;

:root {
  font-size: 16px;
  --cubic-bounce: cubic-bezier(0.080, 1.635, 0.430, 0.840);
}

html {
  box-sizing: border-box;
  font-feature-settings: 'ss01' 1, 'ss02' 0, 'ss03' 1, 'dlig' 1, 'liga' 1, 'calt' 1;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: var(--wp--preset--font-size--body);
}

textarea,
input.text,
input[type="text"],
input[type="search"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  appearance: none;
  -webkit-appearance: none;
  font-weight: normal;
  font-size: var(--wp--preset--font-size--small);
}

h1, h2, h3, h4, h5 {
  line-height: .85;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: keep-all;

  [class^="wp-container"] > & {
    margin-bottom: .25em;
  } 
}
h1 {
  font-size: var(--wp--preset--font-size--huge);
}
h2 {
  font-size: var(--wp--preset--font-size--xxx-large);
}
h3 {
  font-size: var(--wp--preset--font-size--xx-large);
}
p, li:not(.wp-social-link) {
  font-size: var(--wp--preset--font-size--body);
} 
ul, ol {
  padding-left: 0;
}
ul li, ol li {
  margin-top: 1em;
}
.content-wrapper ul:not(.wp-block-post-template) li:not(.wp-social-link), .content-wrapper ol li {
  margin-left: 1em;
}
blockquote {
  position: relative;
}
blockquote > p {
  font-size: inherit;
}
blockquote:before {
  content: '“';
  position: absolute;
  right: 100%;
  font-size: 2em;
  top: -.333em;
}
video {
  display: block;
}
sub, sup {
  line-height: 0;
  font-size: .6em;
}
sub { 
  position: relative;
  top: -0.1em;
}
//things that aren't native cursor elements
.formo-popover-toggle-icon-open, 
.formo-popover-toggle-icon-close,
summary,
input[type="submit"],
label {
  cursor: pointer;
}
.wp-block-separator {
  border-bottom: 0;
}
.has-full-height,
.has-full-height-on-mobile {
  height: calc( var(--vh, 1vh) * 100 );
}
.wp-block-spacer {
  margin-block-start: 0!important;
  margin-block-end: 0!important;
}
@include bps.bp(bigTablet) {
  body .is-layout-flow , 
  body .is-layout-constrained {
    & > *:not(div):not(section):not(lt-highlighter) + *:not(div):not(section),
    & > * + .wp-block-buttons,
    & > p + div, 
    & > div + p,
    & > lt-highlighter:not(:first-child) + * ,
    & > figure + div:not(.wp-block-spacer),
    & > h1 + div, 
    & > h2 + div, 
    & > h3 + div, 
    & > h4 + div {
      margin-block-start: 1rem;
    }
  }
  body .is-layout-flow > p:last-child,
  body .is-layout-flow > * + p:last-child {
    margin-block-end: 1em;
  }
  .hide-on-desktop {
    display: none;
  }
}

@include bps.bp-down(bigTablet) {
  .hide-on-mobile {
    display: none;
  }
  .wp-block-spacer.hide-on-mobile {
    height: 0!important;
    margin-block-start: 0!important;
    margin-block-end: 0!important;
  }
  body .is-layout-flow , 
  body .is-layout-constrained {
    & > p,
    & > figure,
    & > ul:not(:first-child),
    & > ol:not(:first-child),
    & > .wp-block-buttons,
    & > details {
      margin-block-start: 1em;
    }
    & > h1,
    & > h2,
    & > h3 {
      margin-block-start: .75em;
    }
    
    & > h3:last-child,
    & > h3 + .wp-block-spacer:last-child {
      margin-block-end: 1rem;
    }
  }
  body .entry-content > div:not(.formo-popover):not(.teammember-single-content):not(.rounded-corners), 
  body .entry-content > section {
    padding-top: 2em;
    padding-bottom: 2em;
  } 
  .has-full-height {
    height: auto;
  }
  // .wp-block-cover__inner-container {
  //   padding: 1em 0 1em 0;
  // }
}
.wp-block-column.has-full-height > * {
  flex-basis: 50%;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
  border-radius: 20px;
  padding: 0.5em 1em;
  border: 1px solid var(--wp--preset--color--formo-darktone);
}
form label {
  font-size: var(--wp--preset--font-size--small);
}

.rounded-corners {
  border-radius: 15px;
  overflow: hidden;
  transform: translate3d(0,0,0);
}

.invert-x > img {
  transform: scaleX(-1);
}
.invert-y > img {
  transform: scaleY(-1);
}

@include bps.bp(bigTablet) {
  .desktop-top-offset-large {
    margin-top: -25%!important;
  }
}

@include bps.bp-down(bigTablet) {
  .mobile-max-width-17em {
    max-width: 17em;
  }
  .wp-block-spacer:not(.hide-on-mobile) {
    height: 2em !important;
  }
  .columns-reversed-on-mobile {
    flex-direction: column-reverse;
  }
}



[style*="line-height:0.2"] ,
[style*="line-height: 0.2"] {
  @supports (-webkit-touch-callout: none) {
    line-height: .3!important;
  }
}