@use './breakpoints.scss' as bps;

:root {
  font-size: 16px;
  --cubic-bounce: cubic-bezier(0.080, 1.635, 0.430, 0.840);
}

html {
  box-sizing: border-box;
  font-feature-settings: 'ss01' 1, 'ss02' 0, 'ss03' 1, 'dlig' 1, 'liga' 1, 'calt' 1;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: var(--wp--preset--font-size--body);
}

h1, h2, h3, h4, h5 {
  line-height: .85;
  -webkit-hyphens: auto;
  hyphens: auto;

  [class^="wp-container"] > & {
    margin-bottom: .25em;
  } 
}
h1 {
  font-size: var(--wp--preset--font-size--huge);
}
h2 {
  font-size: var(--wp--preset--font-size--xxx-large);
}
h3 {
  font-size: var(--wp--preset--font-size--xx-large);
}
p, li {
  font-size: var(--wp--preset--font-size--body);
} 
ul, ol {
  padding-left: 0;
}
ul li {
  margin-bottom: 1em;
}
.content-wrapper ul li {
  margin-left: 1em;
}
blockquote {
  position: relative;
}
blockquote > p {
  font-size: inherit;
}
blockquote:before {
  content: '“';
  position: absolute;
  right: 100%;
  font-size: 2em;
  top: -.333em;
}
video {
  display: block;
}
body > .block-editor-block-list__layout.is-root-container {
  & p {
    margin-bottom: 1em!important;
  }
  & h1, & h2, & h3, & h4 {
    margin-bottom: .25em!important;
  }
} 
.wp-block-separator {
  border-bottom: 0;
}
.has-full-height,
.has-full-height-on-mobile {
  height: calc( var(--vh, 1vh) * 100 );
}
body .is-layout-flow , 
body .is-layout-constrained {
  & > h1 + *,
  & > h2 + *,
  & > h3 + *,
  & > h4 + *,
  & > blockquote + *,
  & > details + *,
  & > * + .event-location,
  & > * + .event-date,
  & > figure:not(.formo-hero-video, .formo-hero-image) + *,
  & > * + .wp-block-buttons,
  & > .wp-block-buttons + *,
  & > p + * {
    margin-block-start: 1em;
  }
  &.wp-block-group > p:last-child,
  &.wp-block-column > p:last-child,
  &.wp-block-column > details:last-child,
  &.wp-block-column > .wp-block-buttons:last-child {
    margin-block-end: 1rem;
  }
  &.wp-block-column > h2:last-child {
    margin-block-end: .25em;
  }
} 

@include bps.bp(bigTablet) {
  .is-straddling-gridline {
    transform: translateX( calc( -50% - 0.5 * var(--wp--custom--spacing--between) ) );
  }
}
@include bps.bp-down(bigTablet) {
  .hide-on-mobile {
    display: none;
  }
  .wp-block-spacer {
    height: 1.5em!important;
  }
  .has-full-height {
    height: auto;
  }
}
.wp-block-column.has-full-height > * {
  flex-basis: 50%;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
  border-radius: 20px;
  padding: 0.5em 1em;
  border: 1px solid var(--wp--preset--color--formo-darktone);
}
form label {
  font-size: var(--wp--preset--font-size--small);
}
.pill {
  margin: 1em auto;
  padding: 12px 20px!important;

  & > * {
    margin: 0!important;
  }
}
.rounded-corners {
  border-radius: 15px;
  overflow: hidden;
}