@use './breakpoints.scss' as bps;

:root {
  font-size: 16px;
  --cubic-bounce: cubic-bezier(0.080, 1.635, 0.430, 0.840);
}

html {
  box-sizing: border-box;
  font-feature-settings: 'ss01' 1, 'ss02' 0, 'ss03' 1, 'dlig' 1, 'liga' 1, 'calt' 1;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: var(--wp--preset--font-size--body);
}

textarea,
input.text,
input[type="text"],
input[type="search"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  appearance: none;
  -webkit-appearance: none;
  font-weight: normal;
  font-size: var(--wp--preset--font-size--small);
}

h1, h2, h3, h4, h5 {
  line-height: .85;
  -webkit-hyphens: auto;
  hyphens: auto;

  [class^="wp-container"] > & {
    margin-bottom: .25em;
  } 
}
h1 {
  font-size: var(--wp--preset--font-size--huge);
}
h2 {
  font-size: var(--wp--preset--font-size--xxx-large);
}
h3 {
  font-size: var(--wp--preset--font-size--xx-large);
}
p, li {
  font-size: var(--wp--preset--font-size--body);
} 
ul, ol {
  padding-left: 0;
}
ul li {
  margin-top: 1em;
}
.content-wrapper ul li {
  margin-left: 1em;
}
blockquote {
  position: relative;
}
blockquote > p {
  font-size: inherit;
}
blockquote:before {
  content: '“';
  position: absolute;
  right: 100%;
  font-size: 2em;
  top: -.333em;
}
video {
  display: block;
}
.wp-block-separator {
  border-bottom: 0;
}
.has-full-height,
.has-full-height-on-mobile {
  height: calc( var(--vh, 1vh) * 100 );
}
@include bps.bp(bigTablet) {
  body .is-layout-flow , 
  body .is-layout-constrained {
    & > *:not(div):not(section):not(lt-highlighter) + *:not(div):not(section),
    & > * + .wp-block-buttons,
    & > p + div, 
    & > div + p,
    & > figure + div,
    & > h1 + div, 
    & > h2 + div, 
    & > h3 + div, 
    & > h4 + div {
      margin-block-start: 1em;
    }
  }
  body .is-layout-flow > p:last-child,
  body .is-layout-flow > * + p:last-child {
    margin-block-end: 1em;
  }
}

//editor styles
.block-editor-block-list__layout {
  
  & *:first-child {
    margin-block-start: 1em;
  }
  & h1:first-child ,
  & h2:first-child ,
  & h3:first-child ,
  & h4:first-child {
    margin-block-start: .25em;
  }
  
  &.is-layout-flow , 
  &.is-layout-constrained {
    
    & > lt-highlighter + p {
      margin-block-start: 1em;
    }
    & > lt-highlighter + h1, 
    & > lt-highlighter + h2, 
    & > lt-highlighter + h3, 
    & > lt-highlighter + h4 {
      margin-block-start: .25em;
    }
  }
}
// @include bps.bp-down(bigTablet) {
//   body .is-layout-flex {
//     & > .wp-block-column + .wp-block-column {
//       margin-block-start: 1em;
//     }
//   }
// }
// body .is-layout-flow , 
// body .is-layout-constrained {
//   & > blockquote + *,
//   & > details + *,
//   & > * + .event-location,
//   & > * + .event-date,
//   & > figure:not(.formo-hero-video, .formo-hero-image) + *,
//   & > * + .wp-block-buttons,
//   & > .wp-block-buttons + *,
//   & > p + * {
//     margin-block-start: 1em;
//   }
//   & > p + h1,
//   & > p + h2,
//   & > p + h3,
//   & > p + h {
//     margin-block-start: .5em;
//   }
//   &.wp-block-group > p:last-child,
//   &.wp-block-column > p:last-child,
//   &.wp-block-column > details:last-child,
//   &.wp-block-column > .wp-block-buttons:last-child {
//     margin-block-end: 1rem;
//   }
//   &.wp-block-column > h2:last-child {
//     margin-block-end: .25em;
//   }
// } 


@include bps.bp-down(bigTablet) {
  .hide-on-mobile {
    display: none;
  }
  .wp-block-spacer {
    height: 0!important;
    margin-block-start: 0!important;
  }
  body .is-layout-flow , 
  body .is-layout-constrained {
    & > p,
    & > figure,
    & > ul:not(:first-child),
    & > .wp-block-buttons,
    & > details {
      margin-block-start: 1em;
    }
    & > h1,
    & > h2 {
      margin-block-start: .33em;
    }
    & > h3 {
      margin-block-start: .4em;
    }
  }
  body .entry-content > div:not(.formo-popover), 
  body .entry-content > section {
    padding-top: 2em;
    padding-bottom: 2em;
  } 
  .has-full-height {
    height: auto;
  }
  .wp-block-cover__inner-container {
    padding: 1em 0 2em 0;
  }
}
.wp-block-column.has-full-height > * {
  flex-basis: 50%;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
  border-radius: 20px;
  padding: 0.5em 1em;
  border: 1px solid var(--wp--preset--color--formo-darktone);
}
form label {
  font-size: var(--wp--preset--font-size--small);
}

.rounded-corners {
  border-radius: 15px;
  overflow: hidden;
  transform: translate3d(0,0,0);
}

.columns-reversed-on-mobile {
  @include bps.bp-down(bigTablet) {
    flex-direction: column-reverse;
  }
}

[style*="line-height:0.2"] ,
[style*="line-height: 0.2"] {
  @supports (-webkit-touch-callout: none) {
    line-height: .3!important;
  }
}