@use 'breakpoints.scss' as bps;

.formo2022-teammember-sorting,
body .entry-content > .formo2022-teammember-sorting {
  position: relative;
  overflow: hidden;
  height: calc( var(--vh, 1vh) * 100 - var(--wp--custom--height--navbar) );
  padding-top: 1em;
  padding-bottom: 1em;
  
  &:before, &:after {
    content: 'No';
    display: block;
    font-size: clamp(4rem, 12vw, 8rem);
    font-family: var(--wp--preset--font-family--krana);
    text-transform: uppercase;
    text-align: center;
    color: var(--wp--preset--color--formo-blue);
    padding: calc( var(--vh, 1vh) * 50 - .85em ) 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--wp--preset--color--formo-grey);
    z-index: 0;
  }
  &:after {
    content: 'Yes';
    left: auto;
    right: 0;
    background-color: white;
  }
}
h3.formo2022-teammember-sorting-title,
body .is-layout-flow > h3.formo2022-teammember-sorting-title {
  margin: 0 auto 0.25em auto;
  position: relative;
  z-index: 3;
}
.formo2022-teammember-sorting-questions {
  
  position: relative;
  z-index: 10;
  padding-top: .75em;
  margin-block-start: 0!important;

  & p {
    margin: 0!important;
    text-align: center;
  }
  & p a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    width: 100%;
    font-size: 2.5vw;
    line-height: 1;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.2s ease-in-out;

    @include bps.bp-down(smallTablet) {
      font-size: var(--wp--preset--font-size--body);
    }
    
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.formo2022-teammember-sorting-nav {
  position: relative;
  z-index: 10;
  padding-top: 1.5em;
  
  @include bps.bp-down(smallTablet) {
    padding-top: 1em;
  }
  
  & > .wp-block-button:first-child {
    text-align: right;
    //dont show previous button ever
    display: none;
  }
  & > .wp-block-button {
    //dont show previous button ever, therefore next button is in the center
    width: 100%;
    text-align: center;

  }
  & .wp-block-button__link {
    font-size: var(--wp--preset--font-size--small);
  }
}
.formo2022-teammember-sorting-teammembers {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: calc( var(--vh, 1vh) * 70 - var(--wp--custom--height--navbar) );
  
  & ul li {
    list-style: none;
  }

  @include bps.bp-down(smallTablet){
    margin-left: 0;
    margin-right: 0;
  }
}

.formo2022_teammember {

  --tmwidth: 3vw;
  width: var(--tmwidth)!important;
  height: var(--tmwidth)!important;

  @include bps.bp-down(smallTablet){
    & {
      --tmwidth: 6vw;
    }
  }
  position: absolute;  
  z-index: 1;
  top: calc( 50% - var(--tmwidth) / 2 );
  left: calc( 50% - var(--tmwidth) / 2 );
  list-style: none;
  transition: transform .5s .3s cubic-bezier(1.000, -0.340, 0.000, 1.245);
  margin: 0!important;

  &.hidden {
    opacity: 0;
  }
  & .teammember-single-content {
    padding: 0;
  }
  & .entry-content *:not(figure, img, video, .wp-block-group) {
    display: none;
  }
  &:hover {
    z-index: 9999;
  }
  &:hover > div{
    z-index: 3;
    transform: scale(1.1);
  }
  &:hover .entry-content .wp-block-post-title {
      display: inline-block;
      position: relative;
      left: 60%;
      top: -25%;
      background-color: var(--wp--preset--color--formo-blue);
      color: white;
      padding: .5em;
      margin: 0!important;
      max-width: 400%;
      word-break: keep-all;
      hyphens: none;
      line-height: 1.2;
      border-radius: 5px;
      text-align: center;
      pointer-events: none;
  }
  & .entry-content figure, 
  & .entry-content figure > * {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0!important;
  }
  & .entry-content figure {
    height: var(--tmwidth);
    width: var(--tmwidth);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  & .entry-content figure > * {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

body > .block-editor-block-list__layout {
  
  .formo2022-teammember-sorting {
    overflow: auto;
  }
  .formo2022-teammember-sorting .formo2022-teammember-sorting-nav {
    display: none;
  }
  .formo2022-teammember-sorting .formo2022-teammember-sorting-teammembers {
    position: relative;
    width: 100%;
    z-index: 0;

    & > * {
      visibility: hidden;
    }
    &:after, &:before {
      content: none;
    }
  }
  .formo2022-teammember-sorting-questions { 
    &:before {
      content: 'ℹ︎ Questions for the team member sorting block. \A Link the question to the tagname for the yes answer and add a "#" in front.';
      font-style: italic;
      white-space: pre; /* or pre-wrap */
      display: inline-block;
      margin: 0 auto 1em auto;
      padding: 1em;
      background-color: blue;
      color: #FFF;
    }
    & p a {
      opacity: 1;
    }
  }
}
//editor styles
.block-editor-block-list__layout {

  .formo2022-teammember-sorting {
    height: auto;
    
    &:before, &:after {
      content: none;
    }
  }
  .formo2022-teammember-sorting-questions {
    position: relative;
    
    & p a {
     position: relative;
     transform: none;
    }
   }
   .formo2022-teammember-sorting-teammembers {
    display: none;
   }
} 